	<!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header header">

        <div class="header__logo">
            <a class="logo" href="<% root_path %>">
                <img src="home/images/LOGO.png" alt="Homepage">
            </a>
        </div> <!-- end header__logo -->

        <a class="header__search-trigger" href="#"></a>

        <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>
        <nav class="header__nav-wrap">

            <h2 class="header__nav-heading h6">Menu</h2>

            <ul class="header__nav">
                <li class="has-children">
                    <a href="#0" title="">Province</a>
                    <ul class="sub-menu">
                    	<li><a href="#">Antananarivo</a></li>
                        <li><a href="#">Antsiranana</a></li>
                        <li><a href="#">Mahajanga</a></li>
                        <li><a href="#">Toamasina</a></li>
                        <li><a href="#">Fianarantsoa</a></li>
                        <li><a href="#">Toliara</a></li>
                    </ul>
                <li class="has-children">
                    <a href="#0" title="">Tout les evenemets</a>
                    <ul class="sub-menu">
                        <li><a href="#">Sport</a></li>
                        <li><a href="#">Cabaret</a></li>
                        <li><a href="#">Spectacle</a></li>
                        <li><a href="#">Soirée</a></li>
                        <li><a href="#">Festival</a></li>
                        <li><a href="#">Scolaire</a></li>
                        <li><a href="#">Conference</a></li>
                        <li><a href="#">Foire</a></li>
                        <li><a href="#">Salon</a></li>
                        <li><a href="#">Teatre</a></li>
                        <li><a href="#">Evangelique</a></li>
                        <li><a href="#">Balle</a></li>
                    </ul>
                </li>

                <% if(user_signed_in?) %>
                <li class="has-children">
                    <%if current_user.image?%>
                        <a href="#0" title=""><img src="<%= current_user.image_url %>" style="border-radius: 100%; width: 25px; height: 25px; margin-bottom: -10px;"></a>
                    <% else %>
                        <a href="#0" title=""><img src="users/images/user-icon.png" style="border-radius: 100%; width: 25px; height: 25px; margin-bottom: -10px;"></a>
                    <% end %>
                    <ul class="sub-menu">
                        <li><a href="/<%= current_user.username%>"><%= current_user.username.capitalize %></a> </li>
                        <li><a href="<%= posts_path%>">Mes publications</a></li>
                    <li><%= link_to "se deconecter", destroy_user_session_path, method: :delete, style: "color: #DCD850; font-size: 15px" %></li>
                    </ul>
                </li>
                <% else %>
                    <li><%= link_to "se connecter", new_user_session_path, style: "color: #15c4d4; font-size: 18px" %></li>
                    <li><%= link_to "s'inscrire", new_user_registration_path(@user), style: "color: #68de4d; font-size: 16px" %></li>
                <% end %>

            </ul>

            <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

        </nav>

    </header>

<% if @test != 0 %>

    <section class="s-featured">
        <div class="row">
            <div class="col-full">

                <div class="featured-slider featured" data-aos="zoom-in">

                    <div class="featured__slide">
                        <div class="entry">

                            <div class="entry__background" style="background-image:url('<%= @posts[0].image_url%>');"></div>
                            
                            <div class="entry__content">
                                <span class="entry__category"><a href="#0"><%=@posts[0].genres.first.list%></a></span>

                                <h1><a href="#0" title=""><%=@posts[0].title%></a></h1>

                                <div class="entry__info">
                                    <a href="/profil/<%=@posts[0].user.username%>" class="entry__profile-pic">
                                        <% if @posts[0].user.image?%>
                                            <img class="avatar" src="<%=@posts[0].user.image_url%>" alt="">
                                        <%else%>
                                            <img class="avatar" src="images/icons/user-icon.png" alt="">
                                        <%end%>                                           
                                    </a>
                                    <ul class="entry__meta">
                                        <li><a href="#0"><%=@posts[0].address.capitalize%></a></li>
                                        <% d0 = @posts[0].date_limite.to_formatted_s(:rfc822) %>
                                        <li><%=d0[5..15] +' à '+ @posts[0].hour%></li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->
                            
                        </div> <!-- end entry -->
                    </div> <!-- end featured__slide -->

                    <div class="featured__slide">

                        <div class="entry">

                            <div class="entry__background" style="background-image:url('<%= @posts[1].image_url%>');"></div>
                            
                            <div class="entry__content">
                                <span class="entry__category"><a href="#0"><%=@posts[1].genres.first.list%></a></span>

                                <h1><a href="#0" title=""><%=@posts[1].title%></a></h1>

                                <div class="entry__info">
                                    <a href="/profil/<%=@posts[1].user.username%>" class="entry__profile-pic">
                                        <% if @posts[1].user.image?%>
                                            <img class="avatar" src="<%=@posts[1].user.image_url%>" alt="">
                                        <%else%>
                                            <img class="avatar" src="images/icons/user-icon.png" alt="">
                                        <%end%> 
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0"><%=@posts[1].address.capitalize%></a></li>
                                        <% d1 = @posts[1].date_limite.to_formatted_s(:rfc822) %>
                                        <li><%=d1[5..15] +' à '+ @posts[1].hour%></li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->
                            
                        </div> <!-- end entry -->

                    </div> <!-- end featured__slide -->

                    <div class="featured__slide">

                        <div class="entry">

                            <div class="entry__background" style="background-image:url('<%= @posts[2].image_url%>');"></div>

                            <div class="entry__content">
                                <span class="entry__category"><a href="#0"><%=@posts[2].genres.first.list%></a></span>

                                <h1><a href="#0" title=""><%=@posts[2].title%></a></h1>

                                <div class="entry__info">
                                    <a href="/profil/<%=@posts[2].user.username%>" class="entry__profile-pic">
                                        <% if @posts[2].user.image?%>
                                            <img class="avatar" src="<%=@posts[2].user.image_url%>" alt="">
                                        <%else%>
                                            <img class="avatar" src="images/icons/user-icon.png" alt="">
                                        <%end%> 
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0"><%=@posts[2].address.capitalize%></a></li>
                                        <% d2 = @posts[2].date_limite.to_formatted_s(:rfc822) %>
                                        <li><%=d2[5..15] +' à '+ @posts[2].hour%></li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->

                    </div> <!-- end featured__slide -->
                    
                </div> <!-- end featured -->

            </div> <!-- end col-full -->
        </div>
    </section> <!-- end s-featured -->

<!----------------------------------------------------------------------------------------------------------------------->
    <section class="s-content">
        
        <div class="row entries-wrap wide">
            <div class="entries">

                <% @posts.each do |post| %>

                <article class="col-block">
                    
                    <div class="item-entry" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                            <a href="#" class="item-entry__thumb-link">
                                <img src="<%= post.image_url(:image_400)%>" 
                                     srcset="<%= post.image_url(:image_400)%> 1x, <%= post.image_url(:image_900)%> 2x" alt="">
                            </a>
                        </div>
        
                        <div class="item-entry__text">    
                            <div class="item-entry__cat">
                                <a href="category.html"><%=post.genres.first.list%></a> 
                            </div>
    
                            <h1 class="item-entry__title"><a href="single-standard.html"><%=post.title%></a></h1>
                                
                            <div class="item-entry__date">
                                <% d2 = post.date_limite.to_formatted_s(:rfc822) %>
                                <a href="#0"><%=post.address.capitalize%> <%=d2[5..15] +' à '+ @posts[0].hour%></a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

            <% end %><!------------------end each--------------------->
                
            </div> <!-- end entries -->
        </div> <!-- end entries-wrap -->

    </section> <!-- end s-content -->

<%else%>
    
    <br><br><br><br><center><h2>Pas d'evenement a afficher</h2></center><br>
    <center><h2><%= link_to "Connecter", new_user_session_path, style: "color: #15c4d4; font-size: 30px" %> vous pour poster des evenements <br>sur nosyevents</h2></center><br>

<% end %>





    <!-- s-foote
    =========================================================================================================================== -->
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">
                
                <div class="col-six tab-full s-footer__about">
                        
                    <h4>A propos de nosyevents</h4>

                    <p>.....................................................................................
                        .......................................................................................
                        .............................................................................................</p>

                </div> <!-- end s-footer__about -->

                <div class="col-six tab-full s-footer__subscribe">
                        
                    <h4>Des problemes sur nosyevents?</h4>

                    <p>Envoyer nous un <a href="mailto:nosyevents@gmail.com">Email</a> pour vous aidez a resoudre le probleme</p><br>
                    <a href="#">Comment utiliser ce site</a><br>

                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">

                <div class="col-six">
                    <ul class="footer-social">
                        <li>
                            <a href="#0"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-twitter"></i></a>
                        </li>

                        <li>
                            <a href="#0"><i class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="col-six">
                    <div class="s-footer__copyright">
                        <span>
                            Copyright Nosyevents 2020

                        </span>
                    </div>
                </div>
                
            </div>
        </div> <!-- end s-footer__bottom -->

        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>

    </footer> <!-- end s-footer -->