<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>

    <meta charset="utf-8">
    <title>Nosyevents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>



    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/png" href="images/icons/nosyevents.ico"/>


    <link rel="stylesheet" href="home/css/base.css">
    <link rel="stylesheet" href="home/css/vendor.css">
    <link rel="stylesheet" href="home/css/main.css">

    <script src="home/js/modernizr.js"></script>
  </head>

  <body id="top">
    <p class="notice"><%= notice %></p>
    <%= yield %>

    <script src="home/js/jquery-3.2.1.min.js"></script>
    <script src="home/js/plugins.js"></script>
    <script src="home/js/main.js"></script>
  </body>
</html>